n8n/fetch_replies_to_sheet.json
{
  "name": "X リプライ取得 → スプレッドシート保存",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "30分ごと実行",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.twitter.com/2/users/{{ $vars.X_USER_ID }}/mentions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "max_results",
              "value": "50"
            },
            {
              "name": "tweet.fields",
              "value": "text,author_id,conversation_id,in_reply_to_user_id,referenced_tweets,created_at"
            },
            {
              "name": "expansions",
              "value": "author_id,referenced_tweets.id"
            },
            {
              "name": "user.fields",
              "value": "username"
            }
          ]
        },
        "options": {}
      },
      "id": "get-mentions",
      "name": "X API メンション取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "notes": "since_idはCodeノードで動的に付与"
    },
    {
      "parameters": {
        "jsCode": "// since_id を取得してクエリに追加\nconst lastId = $getWorkflowStaticData('global').last_mention_id;\n\nif (lastId) {\n  // 前回のノードのURLにsince_idを追加\n  const item = $input.first();\n  // since_id付きで再リクエストするため、パラメータを返す\n  return [{ json: { since_id: lastId } }];\n}\n\nreturn [{ json: { since_id: null } }];"
      },
      "id": "set-since-id",
      "name": "since_id 取得",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.meta.result_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-has-results",
      "name": "新着あり？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// === since_id 更新（次回の重複排除） ===\nconst staticData = $getWorkflowStaticData('global');\nif (data.meta && data.meta.newest_id) {\n  staticData.last_mention_id = data.meta.newest_id;\n}\n\n// === ユーザーID → ユーザー名のマップ ===\nconst users = {};\nif (data.includes && data.includes.users) {\n  data.includes.users.forEach(u => {\n    users[u.id] = u.username;\n  });\n}\n\n// === 元投稿テキストのマップ ===\nconst refTweets = {};\nif (data.includes && data.includes.tweets) {\n  data.includes.tweets.forEach(t => {\n    refTweets[t.id] = t.text;\n  });\n}\n\n// === 各リプライを pipeline_reply.sh 形式に整形 ===\nconst tweets = data.data || [];\nconst results = [];\n\nfor (const t of tweets) {\n  // 元投稿（自分のツイート）を特定\n  let originalText = '';\n  if (t.referenced_tweets) {\n    const replyTo = t.referenced_tweets.find(r => r.type === 'replied_to');\n    if (replyTo) {\n      originalText = refTweets[replyTo.id] || '';\n    }\n  }\n\n  const formatted = {\n    tweet_id: t.id,\n    author: '@' + (users[t.author_id] || t.author_id),\n    text: t.text,\n    my_original_post: originalText,\n    conversation_history: [],\n    created_at: t.created_at || new Date().toISOString()\n  };\n\n  results.push({ json: formatted });\n}\n\nreturn results;"
      },
      "id": "format-data",
      "name": "JSON整形（1件ずつ分割）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "{{ $vars.SPREADSHEET_URL }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "シート1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tweet_id": "={{ $json.tweet_id }}",
            "author": "={{ $json.author }}",
            "text": "={{ $json.text }}",
            "my_original_post": "={{ $json.my_original_post }}",
            "conversation_history": "={{ JSON.stringify($json.conversation_history) }}",
            "created_at": "={{ $json.created_at }}",
            "status": "pending",
            "reply_json": "={{ JSON.stringify({ tweet_id: $json.tweet_id, author: $json.author, text: $json.text, my_original_post: $json.my_original_post, conversation_history: $json.conversation_history }) }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "google-sheets-append",
      "name": "スプレッドシートに保存",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-operation",
      "name": "新着なし → 終了",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 200]
    }
  ],
  "connections": {
    "30分ごと実行": {
      "main": [
        [
          {
            "node": "X API メンション取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X API メンション取得": {
      "main": [
        [
          {
            "node": "新着あり？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新着あり？": {
      "main": [
        [
          {
            "node": "JSON整形（1件ずつ分割）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "新着なし → 終了",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON整形（1件ずつ分割）": {
      "main": [
        [
          {
            "node": "スプレッドシートに保存",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "global": {
      "last_mention_id": null
    }
  },
  "tags": [
    {
      "name": "x-automation"
    }
  ]
}
